body {
	background: linear-gradient(-90deg, #3a249c, #203388, #1a5f79, #105f4d);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.App {
	text-align: center;
	font-family: "Roboto", sans-serif;
}


